{% extends 'base.html.twig' %}

{% block title %}Plat à emporter{% endblock %}

{% block favicon %}
    {% if favicon is not null %}
        <link rel="icon" href="{{ asset('images/' ~ favicon) }}" type="image/png">
    {% else %}
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>
    {% endif %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('path/to/your/styles.css') }}">
    <style>
        body {
            background: url('/images/fondFruitsClair.png') no-repeat center center fixed;
            background-size: cover;
            background-color: rgba(240, 240, 240, 0.2); /* Couleur de fond avec une transparence à 80% */
        }
    </style>
{% endblock %}

{% block body %}
    <div class="blockProduct">
        <h1 align="center" class="mb-5">Nos plats à emporter</h1>

        <div class="container justify-content">
            <div class="d-flex justify-content-center">
                <div class="productMenuList"><a class="lienCategorie" aria-current="page" href="{{ path('app_view_product') }}">Tous</a></div>
                <div class="productMenuList"><a class="lienCategorie" aria-current="page" href="{{ path('app_view_product', {'categorie_id': 1}) }}">Entrée</a></div>
                <div class="productMenuList"><a class="lienCategorie" aria-current="page" href="{{ path('app_view_product', {'categorie_id': 2}) }}">Plat</a></div>
                <div class="productMenuList"><a class="lienCategorie" aria-current="page" href="{{ path('app_view_product', {'categorie_id': 3}) }}">Dessert</a></div>
            </div>                            
        </div>

        <div class="container">
            <div class="row">
                {% for product in products %}
                    <div class="col-4 d-flex">
                        <div class="card mb-3">
                            {% if product.image %}
                                <img class="card-img-top" src="{{ asset('images/' ~ product.image) }}" alt="{{ product.nameProduct }}">
                            {% else %}
                                <img class="card-img-top" src="/images/default-placeholder.png" alt="No image available">
                            {% endif %}
                            <div class="card-body" align="center">
                                <h4 class="card-title">{{ product.nameproduct }}</h4>
                                <p class="card-text">{{ product.description }}</p>
                                <p class="card-price">{{ product.price }}€</p>
                                <button class="btn btn-dark" type="submit">
                                    <a href="{{ path('cart_add', {id: product.id}) }}" class="text-white bg-dark text-decoration-none add-to-cart-link">Ajouter au panier</a>
                                </button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
