{% extends 'base.html.twig' %}

{% block title %}Booking Details{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="mb-4 text-center" style="margin-top: 15vh;margin-bottom: 15vh;">Details de la réservation</h1>

    <div class="card">
        <div class="card-body">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th scope="row">Id</th>
                        <td>{{ booking.id }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Date de la réservation</th>
                        <td>{{ booking.dateBooking ? booking.dateBooking|date('Y-m-d') : 'N/A' }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Nombre de couverts</th>
                        <td>{{ booking.peopleNumber }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Réservation confirmée</th>
                        <td>{{ booking.bookingConfirmed ? 'Oui' : 'Non' }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Heure réservation</th>
                        <td>{{ booking.hourBooking ? booking.hourBooking|date('H:i:s') : 'N/A' }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Nom</th>
                        <td>{{ booking.nameBooking }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Téléphone</th>
                        <td>{{ booking.phoneBooking }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Email</th>
                        <td>{{ booking.emailBooking }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Commentaires</th>
                        <td>{{ booking.comments }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="text-center mt-4">
        <a href="{{ path('app_booking_index') }}" class="btn btn-secondary" style="background-color: #000000; color: #ffffff; border:none;">retour à la liste</a>
        <a href="{{ path('app_booking_edit', {'id': booking.id}) }}" class="btn btn-warning">Editer</a>
        {{ include('booking/_delete_form.html.twig') }}
    </div>
</div>
{% endblock %}
