{# {% extends 'base.html.twig' %}

{% block title %}New Stock{% endblock %}

{% block body %}
    <h1>Create new Stock</h1>

    {{ include('stock/_form.html.twig') }}

    <a href="{{ path('app_stock_index') }}">back to list</a>
{% endblock %} #}


{% extends 'base.html.twig' %}
{% block body %}
<div class="container">



    <h1 class="mt-4">Ajouter un stock</h1>

    {# display one flash message #}

    {% for message in app.flashes('success') %}
    <div class="alert alert-success mt-4">
    {{ message }}
    </div>
    {% endfor %}

    {# retourne le formulaire #}

    {{ form_start(form) }}

        <div class="form-group">
            {{ form_label(form.quantityPrepared) }}
            {{ form_widget(form.quantityPrepared) }}
            <div class="form-error">
            {{ form_errors(form.quantityPrepared) }}
            </div>
        </div>
{#         
        <div class="form-group">
            {{ form_row(form.submit) }}
        </div> #}



    {{ form_end(form) }}

</div>
{% endblock %}